{% extends 'main_layout.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheet %} {% endblock stylesheet %}

{% block content1 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            
            <div>
                <h2>로그인</h2>
            </div>
    
            {% if form.errors%}
                <p>아이디나 비밀번호가 일치하지 않습니다!</p>
            {% endif %}

            <form action='' method='post'>{% csrf_token %}  
                {{ form|crispy }}                 
            
                <input class="btn btn-primary" type="submit" value="로그인" />   
                <input type='hidden' name='next' value="{{ next }}" />                 
            </form>
            <div>
                <script type='text/javascript'>
                    document.getElementById('id_username').focus();
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock content1 %}

