{% extends 'main_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %} {% static 'family_site/css/note/note_list.css' %} {% endblock stylesheet %}

{% block content1 %}
{% load socialaccount %}
{% providers_media_js %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
<button type="button" style="border:0; outline:0;" onclick="location.href='{% provider_login_url "kakao" method="oauth2" process="login"%}'"><img src="{% static 'family_site/images/kakao/kakao_login_medium_narrow.png' %}" alt=""></button>&nbsp;&nbsp;

        <p></p>



        </div>

    </div>
</div>
<p></p><br>
<div class="alert alert-danger"><p>로그아웃 하실려면, 이사이트에서 로그아웃 하시고, <a href="https://www.daum.net/">다음 사이트(daum site)</a> 에서도 로그아웃 하십시요!</p></div>
 <div class="alert alert-danger"><p>2번 로그아웃 하셔야 합니다!</p></div>





{% endblock content1 %}




