{% extends 'main_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %} {% static 'family_site/css/note/note_list.css' %} {% endblock stylesheet %}

{% block content1 %}
{% load socialaccount %}
{% providers_media_js %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
<button type="button" style="border:0; outline:0;" onclick="location.href='{% provider_login_url "kakao" method="oauth2" process="login"%}'"><img src="{% static 'family_site/images/kakao/kakao_login_medium_narrow.png' %}" alt=""></button>&nbsp;&nbsp;

        <p></p>



        </div>

    </div>
</div>
<p></p><br>
 <div class="alert alert-danger"><p>이사이트에서 로그아웃했으면 반드시 다음에서 다시 한번 로그아웃해야, 다음에서도 로그아웃이 됩니다</p></div>
 <div class="alert alert-danger"><p>이사이트에서 로그아웃하고 다음에서 로그아웃을 하지 않으면 다음에는 로그인 상태가 계속 됩니다.</p></div>




{% endblock content1 %}




