

.font {
    text-align: center;
    font-family: '나눔고딕', 고딕, 바탕;
    color: black;
    font-size: 18px;
}

.woori_bank_css {
    padding: 4px;
}

.woori_bank_css thead > tr > th{
    color: black;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.woori_bank_css tbody > tr > td{
    color: black;
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.woori_bank_css tr > td:nth-child(2){
}

.woori_bank_css tr > td:nth-child(3){

}

.woori_bank_css tr > td:nth-child(5){
    text-align: left;
}

.woori_bank_css tr > td:nth-child(9){
    color: maroon;
}

.woori_bank_css tr > td:nth-last-child(1){
    color: green;
}
