{% extends 'main_layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% block stylesheet %} {% static 'family_site/css/wrbank/wrbank_list.css' %} {% endblock stylesheet %}

{% block content1 %}
    
    <p>대출금액 : ￦75,000,000원.</p>
    <p>- 이자 납입일 : 2015년 12월 부터, 매달 ￦131,250(감소).</p>
    <p>- 원금 납입일 : 2016년 12월 부터, 매달 ￦215,517(일정).</p>
    <p>- 만기일 : 2045년 11월 10일.</p>
    <div id='loan'>
        - 대출이자 회차 : {{ kk }}차, &nbsp; &nbsp;  - 대출이자 총액 : {{ interest|intcomma }}원.<br>
        - 원금 회자 : {{ kkk }}차, &nbsp; &nbsp; - 원금 총액 : {{ principal|intcomma }}원.<br>
        - 대출이자 + 원금 총액 : {{ deposit_withdrawal|intcomma }}원.
        <br><br>
    </div>

<form>
    <a class='btn btn-default' href='{% url 'family_site:gwbank_list' %}'>광주은행 보기</a>&nbsp;&nbsp;                 
    <select id='wbls' class='btn btn-default' data-native-menu='false'>
        <option selected="selected">입출금선택</option>
        <option value="입 금">입 금</option>
        <option value="출 금">출 금</option>    
    </select>
    &nbsp;&nbsp;<button id='kk' class='btn btn-default'>감추기</button>
</form>



<table id='wb' class='table table-bordered table-hover'>
    <thead>
        
    </thead>
 
</table>
             
        <div id='wrbank_wrap'>
            <h4 class='wrbank'>우 리 은 행</h4>
            <table class='table table-bordered table-hover' id='aa'>
                <thead>
                    <tr>
                        <th>날 자</th>
                        <th>입＊출금</th>
                        <th>금 액</th>
                        <th>비 고</th>
                        <th>대출 이자</th>
                        <th>대출 원금</th>
                        <th>이자 + 원금</th>
                        <th>대출잔액</th>
                        <th>통장잔액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>{% for i in object_list %}
                        <td>{{ i.wrbank_date|date:'Y-m-d' }}</td>
                        <td>{{ i.wrbank_deposit_withdrawal }}</td>
                        <td>{{ i.wrbank_money1|intcomma }}</td>
                        <td>{{ i.wrbank_note }}</td>
                        <td>{{ i.wrbank_money2|intcomma }}</td>
                        <td>{{ i.wrbank_money3|intcomma }}</td>
                        <td>{{ i.wrbank_aggregate|intcomma }}</td>
                        <td>{{ i.wrbank_loan_balance|intcomma }}</td>
                        <td>{{ i.wrbank_bankbook_balance|intcomma }}</td>  
                                          
                    </tr>{% endfor %}         
                </tbody>
            </table>
        </div>       
            
    </div>




    <div id="wrbank_pagination">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div><!-- pagination end -->


{% endblock content1 %}