{% extends 'main_layout.html' %}
{% load static %}
{% load humanize %}
{% block stylesheet %} {% static 'family_site/css/wrbank/wrbank_list.css' %} {% endblock stylesheet %}

{% block content1 %}

    <div id="wrbankloan">
            <input  class='btn btn-default' onclick="location.href='{% url 'family_site:gwbank_list' %}';" value="광주은행 보기" />
    <div>
    <br>
    <p class="font">- 어머님 우리은행 통장 내역 -</p>
    <div id="woori_bank_css">
        <p>대출금액 : 75,000,000</p>
            <p> - 대출이자 납입일 : 2015년 12월 부터</p>
            <p> - 대출원금 납입일 : 2016년 12월 부터</p>

        <p> 만기일 : 2045년 11월 10일</p>
        <p>- 대출이자 회차 : {{ woori_a }}차,  - 대출이자 합계 : <b>{{ woori_b|intcomma  }}</b></p>
        <p>- 대출원금 회차 : {{ woori_e }}차,  - 대출원금 합계 : <b>{{ woori_f|intcomma }}</b></p>
        <p>- 대출이자 + 대출원금 회자 : {{woori_c}}차, - 대출이자 + 대출원금 합계 : <b>{{ woori_d|intcomma }}</b> </p>
        <p>- 이상순 대납한 회차 : {{ cu_c|intcomma }}차,  - 이상순 대납한 합계 : <b>{{cu_d|intcomma}}</b> </p>

        <p>대출 잔액 및 통장 잔액</p>
        <p>- 대출 잔액 : <b>{{ ii|intcomma }}</b></p>
        <p>- 통장 잔액 : <b>{{ i|intcomma }}</b></p>
    </div>

    <br>
    <div id="woori_bank_show" style="cursor:pointer"><b>우리은행 내역 보기 클릭</b> <p></p></div>

    <p></p>
    <div id="woori_bank_pandas" style="display:none;">
        <p>- 엄광 : 어머님 광주은행 통장에서 어머님 우리은행 대출 통장으로 이체함.</p>
        {% autoescape off %} {{ aa }} {% endautoescape %}
    </div>


{% endblock content1 %}

