#daily {
    border: 1px solid #dddddd;
    padding: 10px 10px 10px 20px;
    margin-bottom: 14px;
}

/*#daily > span:first-child {    
}*/

#daily > span+span {
    font-size: 0.9em;
    color: gray;
    padding-left: 1px;
}

#daily span+span+span {
    font-size: 0.9em;
    color: black;
    padding-top: 10px;
  
    display: block;
}


img {
    border: 1px solid #000000;
    padding: 1px;
}


