<!DOCTYPE html>
{% load staticfiles %}
{% load humanize %}

<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0"/>

    <title> {% block title %} Sansu-Memory {% endblock title %} </title>     
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Miltonian+Tattoo|Permanent+Marker|Risque" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}  {% endblock stylesheet %}" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>    

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            
</head>

<body>
<div data-role="page">
<div id="base_page_wrap"><!-- 전체페이지 wrapper 시작 div -->

    <div class="container-fluid" id="nav">
            <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'sansu' %}">Home</a></li>  
            <li><a href="{% url 'family_site:daily_list' %}">일 상</a></li>    
            <li><a href="{% url 'family_site:anniversary_list' %}">기념일</a></li> 
            <li><a href="{% url 'family_site:gwbank_list' %}">은 행</a></li> 
            <li><a href="{% url 'family_site:note_list' %}">게시판</a></li>          
            <li id='login_signup'>
                {% if user.is_active %}
                    <span class='welcome'>Welcome<strong>{% firstof user_get_short_name user.get_username  %}</strong>&nbsp;&nbsp;<a class='btn btn-default' href='{% url 'logout' %}'>로그아웃</a></span>
                {% else %}                
                    <span class='welcome'><a class='btn btn-default' href='{% url 'login' %}'>로그인</a>&nbsp;&nbsp;<a class='btn btn-default' href='{% url 'register' %}'>회원가입</a></span>
                {% endif %}
            </li>       
        </ul>                        
    </div><!-- nav-container-fluid end-->    

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="alert alert-success" role="alert">Sansu-Memory &nbsp;&nbsp;{% now 'Y.m.d' %}</h4>
                          
                {% block content1 %}        
             
                <div id='note'>   
                    <p>- 2017.06월26일(월) ~ 2017.08.28(월) 어머님 전대병원 입원기간은 <span>{{ cnuh_3.days }}</span>일 입니다 - ({{ cnuh_1|timesince }} &nbsp;전).</p>       
                    <p>- 2017.08.28(월) ~ 2017.08.29(화) 에스웰 요양병원 <span>1</span>일.</p>                                     
                    <p>- 2017.08.29일(화) 광주시립제2요양병원에 입원 하신지 <span>{{ convalescentHospital_3.days }}</span> 일째 입니다 - ({{ convalescentHospital_1|timesince }} &nbsp;전).</p>
                    
                    <p>- 지금까지 <span>{{ hospitalization }}</span>일째 입니다.</p><br>

                    <p id='pp'>- 진료예약<br>
                         &nbsp;&nbsp;- 2018.05.11일(금요일, 10시) 전대병원 안과 예약(3동 2층, 성미선 교수) :
                         
                            {% if op_1 > op_2 %}
                                <span style="color:green"> {{ op_3.days }}</span>일 남았습니다.
                            {% elif op_1 == op_2 %}
                            <span style="color:green">오늘은 진료일입니다!</span>
                            {% else %}
                                <span style="color:green"> {{ op_4.days }}</span>일 지났습니다.
                            {% endif %}                                                     
                    </p>                      
                {% endblock content1 %}            

            </div><!-- col-xs-12 end -->
        </div><!-- row end -->
    </div><!-- class  container end-->

    <!-- 2번째 container_fluid -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                


    {% block content2 %}
<div id='uuu'></div>

    {% endblock content2 %}
     
            
            </div><!-- col-xs-12 end -->
        </div><!-- row end -->
    </div><!-- class  container end-->


    {% block footer %}
    
    {% endblock footer %}

    {% block script %}
    {% endblock script %}
</div><!-- 전체페이지 base_page_wrap end -->
</div> <!-- data-role="page: -->
    <br><br><br><br><br><br>
<script src="{% static 'js/anniversary.js' %}"></script>
<script src="{% static 'family_site/js/gwbank/gwbank.js' %}"></script>
<script src="{% static 'family_site/js/wrbank/wrbank.js' %}"></script>


</body>
</html>
