{% extends 'main_layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% block stylesheet %} {% static 'family_site/css/gwbank/gwbank_list.css' %} {% endblock stylesheet %}

{% block content1 %}
 
<p>이채순 계 : {{ chaesun|intcomma }}원, &nbsp; 이기창 계 : {{ gichang|intcomma }}원, &nbsp; 이화순 계 : {{ hwasun|intcomma }}원.</p> 
<br>


<form>
    <a class='btn btn-default' href='{% url 'family_site:wrbank_list' %}'>우리은행보기</a>
    
    <select class='btn btn-default' id='s' data-native-menu='false'>
     <option selected="selected">이름 선택</option>
     <option value='이채순' ontouchend="chae('이채순')">이채순</option>   
     <option value='이기창' ontouchend="chae('이기창')">이기창</option>
     <option value='이화순' ontouchend="chae('이화순')">이화순</option> 
    </select> 
    <button id='kkk' class='btn btn-default'>감추기</button>
</form>

 <div>
  <table id='k' class='table table-bordered table-hover'></table>
 </div> 
 

    <div id='gwbank_wrap'>
        <h4 class='gwbank'>어머님 광주은행 통장 내역</h4>
        <table class='table table-bordered table-hover'>
            <thead>
                <tr>
                    <th>날 자</th>
                    <th>입＊출금</th>
                    <th>금 액</th>
                    <th>이 름</th>
                    <th>실 행</th>
                    <th>비 고</th>
                </tr>
            </thead>
            <tbody>{% for i in object_list%}
                <tr>
                    <td>{{ i.gwbank_date|date:'Y-m-d' }}</td>
                    <td>{{ i.gwbank_income }}</td>
                    <td>{{ i.gwbank_money|intcomma }}</td>
                    <td>{{ i.gwbank_name }}</td>
                    <td>{{ i.gwbank_execution|intcomma|default:" " }}</td>
                    <td>{{ i.gwbank_note  }}</td>
                </tr> {% endfor %}           
            </tbody>
        </table>
    </div>
  
   
<div id="gwbank_pagination">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div><!-- pagination end -->

<br><br><br>

{% endblock content1 %}